@import url(assets/color/color.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Kanit, sans-serif;
}
/* Elementi primari della pagina */
body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.offusca-schermo {
    position: fixed;
    transition: 0.3s ease 0s;
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    z-index: 10;
}
.offusca-schermo-on {
    display: block;
    opacity: 0.6;
}
.offusca-schermo-off {
    display: none;
    opacity: 0;
}
/* Elementi scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--normal-text-color);
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--normal-text-color);
    border-radius: 10px;
}

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* Inizio container PHISHING */

.phishing-warning-general {
    background: var(--pancake-label-bg);
    align-items: center;
    overflow: hidden;
    height: 100%;
    height: 70px;
}

.phishing-first-container {
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.phishing-first-container img {
    height: auto;
    width: 92px;
}

.phishing-text-border-container {
    background: var(--phishing-warning-text-bg);
    border-radius: 16px;
    padding: 8px;
    width: 60%;
    height: 80%;
    align-items: center;
    flex-wrap: wrap;
}
.phishing-text-border-adattato {
    display: none;
    padding: 12px;
}

.phishing-text-border-container span:first-child,
.phishing-text-border-adattato span:first-child {
    color: var(--recent-update-color);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 4px;
}

.phishing-text-border-container span:nth-child(2),
.phishing-text-border-adattato span:nth-child(2) {
    color: var(--phising-remember-text-color);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    margin-right: 4px;
}
.phishing-text-border-container span:nth-child(3),
.phishing-text-border-adattato span:nth-child(3) {
    color: white;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    margin-right: 4px;
}
.phishing-text-border-container span:nth-child(4),
.phishing-text-border-adattato span:nth-child(4) {
    color: var(--phising-remember-text-color);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    margin-right: 4px;
}
.phishing-second-container {
    padding-right: 14px;
    cursor: pointer;
}
.phishing-second-container svg:hover {
    color: var(--phising-remember-text-color);
}

/* Adattamento phishing */
@media screen and (max-width: 970px) {
    .phishing-first-container {
        display: none;
    }
    .phishing-text-border-adattato {
        display: block;
    }
    .phishing-warning-general {
        background: var(--adapted-phishing-color);
    }
}

/* Inizio container NavBar */

.navbar-container-general {
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: var(--navbar-color);
    color: var(--normal-text-color);
    height: 56px;
    border-bottom: 1px solid var(--navbar-border-color);
}

/* Container navbar parte sinistra */
.navbar-left-side {
    align-items: center;
    font-weight: 500;
    height: 100%;
    gap: 5px;
}

.svg-normale {
    width: 161px;
    cursor: pointer;
    margin-right: 16px;
}
.svg-adattato {
    display: none;
}
.navbar-left-side .dots-downscroll svg {
    fill: var(--normal-text-color);
}
/* Separatore downscroll */
.downscroll-separator {
    position: absolute;
    top: 6px;
    width: 100%;
    height: 100%;
}

/* Inizio contenitore trade */
.trade-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
}
.trade-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.trade-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    fill: var(--normal-text-color);
    padding-top: 4px;
}
.trade-downscroll:hover {
    visibility: visible;
}
.trade-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.trade-downscroll .item:nth-child(4),
.trade-downscroll .item:nth-child(5) {
    align-items: center;
    justify-content: space-between;
}
.trade-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore Earn */
.earn-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
}
.earn-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.earn-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    padding-top: 4px;
}
.earn-downscroll:hover {
    visibility: visible;
}
.earn-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.earn-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore Win */
.win-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
}
.win-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.win-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    padding-top: 4px;
}
.win-downscroll:hover {
    visibility: visible;
}
.win-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}

.win-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore NFT */
.nft-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
}
.nft-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.nft-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    padding-top: 4px;
}
.nft-downscroll:hover {
    visibility: visible;
}
.nft-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}

.nft-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore dots */
.dots-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
    fill: var(--normal-text-color);
}
.dots-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.dots-downscroll {
overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    padding-top: 4px;
}
.dots-downscroll:hover {
    visibility: visible;
}
.dots-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.dots-downscroll .item:nth-child(3),
.dots-downscroll .item:nth-child(4) {
    border-bottom: 1px solid var(--downscroll-bg-onhover);
}

.dots-downscroll .item:nth-child(5),
.dots-downscroll .item:nth-child(6) {
    align-items: center;
    justify-content: space-between;
}
.dots-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}


/* Container navbar parte destra */
.navbar-right-side {
    align-items: center;
    gap: 12px;
    height: 100%;
}

.navbar-right-side .item {
    cursor: pointer;
    align-items: center;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}
.navbar-right-side .svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navbar-right-side .item:hover svg {
    width: 28px;
    height: 28px;
}

.navbar-right-side .item svg {
    display: flex;
    align-self: center;
    transition: 0.3s ease 0s;
    margin-right: 8px;
}

.language-item svg, .setting-item svg {
    fill: var(--normal-text-color);
    margin-left: 8px;
}

/* Inizio contenitore lingue */
.language-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 100%;
}
.language-item:hover svg {
    transition: 0.3s ease 0s;
    opacity: 0.5;
}

.language-item:hover .language-downscroll {
    visibility: visible;
}

.language-downscroll {
    visibility: hidden;
    transition: opacity 0.3s ease-in-out 0s;
    gap: 5px;
    align-items: center;
    left: -60px;
    top: 56px;
    border-radius: 4px;
    overflow-y: scroll;
    max-height: 363px;
    width: max-content;
    position: absolute;
    padding: 16px;
    color: white;
    background-color: var(--navbar-color);
}
.language-downscroll .item:hover {
    transition: 0.3s ease 0s;
    opacity: 0.4;
}

/* Inizio contenitore setting */
.setting-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}
.setting-item:hover {
    transition: 0.3s ease 0s;
    opacity: 0.4;
}

/* Inizio contenitore BNB-Smart */
.bnb-smart-general {
    height: 100%;
    align-items: center;
    position: relative;
}

.bnb-smart-container {
    align-items: center;
    justify-content: center;
    height: 32px;
    padding-right: 8px;
    border-radius: 16px;
    background-color: var(--navbar-extra-label-color);
    color: white;
    fill: white;
    cursor: pointer;
    font-weight: 600;
    gap: 6px;
}
/* Inizio downscroll BNB-Smart */

.bnb-smart-general:hover .bnb-smart-downscroll {
    visibility: visible;
}
.bnb-smart-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 56px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    fill: var(--normal-text-color);
    padding-top: 4px;
    padding-bottom: 4px;
}

.bnb-smart-general:hover .bnb-smart-container {
    transition: 0.3s ease 0s;
    opacity: 0.65;
}

.bnb-smart-downscroll .item:first-child {
    border-bottom: 1px solid var(--downscroll-bg-onhover);
}
.bnb-smart-downscroll .item img {
    width: 24px;
    height: 24px;
}
.bnb-smart-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.bnb-smart-downscroll .item:first-child {
    color: var(--normal-text-color);
    cursor: auto;
}
.bnb-smart-downscroll .item:nth-child(2) {
    color: var(--title-text-color);
}
.bnb-smart-downscroll .item span {
    padding-left: 12px;
}
.bnb-smart-downscroll .item:nth-child(2):hover,
.bnb-smart-downscroll .item:nth-child(3):hover {
    background-color: var(--downscroll-bg-onhover);
}

.bnb-smart-container img {
    width: 32px;
    height: 32px;
}

/* Inizio bottone interno alla navbar */
.navbar-right-side button {
    background-color: var(--button-bg-color);
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    padding: 0px 16px;
    height: 32px;
}
.navbar-right-side button:hover {
    transition: 0.3s ease 0s;
    opacity: 0.65;
}
.bottone-adattato {
    display: none;
}

/* Inizio Adattamento navbar */
@media screen and (max-width: 1110px) {
    .span-adattato {
        display: none;
    }
    .bottone-adattato {
        display: block;
    }
    .bottone-normale {
        display: none;
    }
    .bnb-smart-downscroll {
        left: -71px;
    }
    .navbar-right-side .item:first-child {
        display: none;
    }
}
@media screen and (max-width: 970px) {
    .svg-normale {
        display: none;
    }
    .svg-adattato {
        display: block;
        width: 32px;
        height: 32px;
    }

}
@media screen and (max-width: 600px) {
    .span-secondo-adattamento {
        display: none;
    }
    .trade-general, .earn-general, .win-general, .nft-general, .dots-general {
        display: none;
    }

}

/* Inizio contenitore navbar adattata */
.navbar-adattata-generale {
    background-color: var(--navbar-color);
    width: 100%;
    color: var(--normal-text-color);
    fill: var(--normal-text-color);
    height: 50px;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid var(--navbar-border-color);
    display: none;
}

.trade-adattato-generale,
.earn-adattato-generale,
.win-adattato-generale,
.nft-adattato-generale,
.dots-adattato-generale {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 12px;
    width: 57px;
    height: 90%;
    cursor: pointer;
}
.trade-adattato-generale:hover,
.earn-adattato-generale:hover,
.win-adattato-generale:hover,
.nft-adattato-generale:hover,
.dots-adattato-generale:hover {
    background-color: var(--downscroll-bg-onhover);
}

.trade-adattato-generale:hover {
    background-color: var(--downscroll-bg-onhover);
}
/* Separator upscroll per la navbar adattata */
.upscroll-separator {
    position: absolute;
    top: -7px;
    width: 100%;
    height: 50px;
}

/* Inizio contenitore upscroll earn adattato */
.upscroll-separator:hover + div {
    visibility: visible;
}
.earn-adattato-upscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: -106px;
    left: -151px;
    border-radius: 16px;
    width: 57vh;
    padding-top: 4px;
    font-size: 16px;
}
.earn-adattato-upscroll:hover {
    visibility: visible;
}
.earn-adattato-upscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.earn-adattato-upscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore upscroll win adattato */
.win-adattato-upscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: -200px;
    left: -240px;
    border-radius: 16px;
    width: 57vh;
    padding-top: 4px;
    font-size: 16px;
}
.win-adattato-upscroll:hover {
    visibility: visible;
}
.win-adattato-upscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}

.win-adattato-upscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore NFT adattato */
.nft-adattato-upscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: -153px;
    left: -332px;
    border-radius: 16px;
    width: 57vh;
    padding-top: 4px;
    font-size: 16px;
}
.nft-adattato-upscroll:hover {
    visibility: visible;
}
.nft-adattato-upscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}

.nft-adattato-upscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore dots adattato */
.dots-adattato-upscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: -294px;
    left: -447px;
    border-radius: 16px;
    width: 57vh;
    padding-top: 4px;
    font-size: 16px;
}
.dots-adattato-upscroll:hover {
    visibility: visible;
}
.dots-adattato-upscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.dots-adattato-upscroll .item:nth-child(3),
.dots-adattato-upscroll .item:nth-child(4) {
    border-bottom: 1px solid var(--downscroll-bg-onhover);
}
    
.dots-adattato-upscroll .item:nth-child(5),
.dots-adattato-upscroll .item:nth-child(6) {
    align-items: center;
    justify-content: space-between;
}
.dots-adattato-upscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}
    
@media screen and (max-width: 600px){
    .navbar-adattata-generale {
        display: flex;
    }
}