@import url(assets/color/color.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Kanit, sans-serif;
}
/* Elementi primari della pagina */
body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.offusca-schermo {
    position: fixed;
    transition: 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--bg-offusca-schermo);
    opacity: 0;
    z-index: 10;
}
.offusca-schermo-on {
    visibility: visible;
    opacity: 0.6;
}
/* Elementi keyframe */
@keyframes animated-rabbit {
    0% {
        top: 0px;
        right: 0px;
    }
    100% {
        top: -10px;
        right: 10px;
    }
}
@keyframes animated-star {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
/* Elementi scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--normal-text-color);
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--normal-text-color);
    border-radius: 10px;
}

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* Inizio contenitore phishing e navbar */
.phishing-navbar-container {
    position: fixed;
    width: 100%;
    z-index: 9;
}

/* Inizio container PHISHING */

.phishing-warning-general {
    background: var(--pancake-label-bg);
    align-items: center;
    overflow: hidden;
    height: 100%;
    height: 70px;
}

.phishing-first-container {
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.phishing-first-container img {
    height: auto;
    width: 92px;
}

.phishing-text-border-container {
    background: var(--phishing-warning-text-bg);
    border-radius: 16px;
    padding: 8px;
    width: 60%;
    height: 80%;
    align-items: center;
    flex-wrap: wrap;
}
.phishing-text-border-adattato {
    display: none;
    padding: 12px;
}

.phishing-text-border-container span:first-child,
.phishing-text-border-adattato span:first-child {
    color: var(--recent-update-color);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 4px;
}

.phishing-text-border-container span:nth-child(2),
.phishing-text-border-adattato span:nth-child(2) {
    color: var(--phising-remember-text-color);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    margin-right: 4px;
}
.phishing-text-border-container span:nth-child(3),
.phishing-text-border-adattato span:nth-child(3) {
    color: white;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    margin-right: 4px;
}
.phishing-text-border-container span:nth-child(4),
.phishing-text-border-adattato span:nth-child(4) {
    color: var(--phising-remember-text-color);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    margin-right: 4px;
}
.phishing-second-container {
    padding-right: 14px;
    cursor: pointer;
}
.phishing-second-container svg:hover {
    color: var(--phising-remember-text-color);
    transition: 0.3s ease 0s;
}

/* Adattamento phishing */
@media screen and (max-width: 970px) {
    .phishing-first-container {
        display: none;
    }
    .phishing-text-border-adattato {
        display: block;
    }
    .phishing-warning-general {
        background: var(--adapted-phishing-color);
    }
}

/* Inizio container NavBar */

.navbar-container-general {
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: var(--navbar-color);
    color: var(--normal-text-color);
    height: 56px;
    border-bottom: 1px solid var(--navbar-border-color);
}

/* Container navbar parte sinistra */
.navbar-left-side {
    align-items: center;
    font-weight: 500;
    height: 100%;
    gap: 5px;
}

.svg-tema-chiaro {
    display: none;
    cursor: pointer;
    width: 161px;
    margin-right: 16px;
}

.svg-normale {
    width: 161px;
    cursor: pointer;
    margin-right: 16px;
}
.svg-adattato {
    display: none;
    cursor: pointer;
}
.nascondi-svg-navbar {
    display: none;
}
.mostra-svg-navbar {
    display: block;
}
.navbar-left-side .dots-downscroll svg {
    fill: var(--normal-text-color);
}
/* Separatore downscroll */
.downscroll-separator {
    position: absolute;
    left: 0px;
    top: -8px;
    width: 100%;
    height: 132%;
}

/* Inizio contenitore trade */
.trade-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
}
.trade-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.trade-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    fill: var(--normal-text-color);
    padding-top: 4px;
    border: 1px solid var(--navbar-border-color);
}
.trade-downscroll:hover {
    visibility: visible;
}
.trade-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.trade-downscroll .item:nth-child(4),
.trade-downscroll .item:nth-child(5) {
    align-items: center;
    justify-content: space-between;
}
.trade-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore Earn */
.earn-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
}
.earn-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.earn-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    padding-top: 4px;
    border: 1px solid var(--navbar-border-color);
}
.earn-downscroll:hover {
    visibility: visible;
}
.earn-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.earn-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore Win */
.win-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
}
.win-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.win-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    padding-top: 4px;
    border: 1px solid var(--navbar-border-color);
}
.win-downscroll:hover {
    visibility: visible;
}
.win-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}

.win-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore NFT */
.nft-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
}
.nft-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.nft-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    padding-top: 4px;
    border: 1px solid var(--navbar-border-color);
}
.nft-downscroll:hover {
    visibility: visible;
}
.nft-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}

.nft-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore dots */
.dots-general {
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 16px;
    height: 80%;
    width: 100%;
    fill: var(--normal-text-color);
}
.dots-general:hover {
    background-color: var(--downscroll-bg-onhover);
}
.downscroll-separator:hover + div {
    visibility: visible;
}
.dots-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 50.8px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    padding-top: 4px;
    border: 1px solid var(--navbar-border-color);
}
.dots-downscroll:hover {
    visibility: visible;
}
.dots-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.dots-downscroll .item:nth-child(3),
.dots-downscroll .item:nth-child(4) {
    border-bottom: 1px solid var(--downscroll-bg-onhover);
}

.dots-downscroll .item:nth-child(5),
.dots-downscroll .item:nth-child(6) {
    align-items: center;
    justify-content: space-between;
}
.dots-downscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}


/* Container navbar parte destra */
.navbar-right-side {
    align-items: center;
    gap: 12px;
    height: 100%;
}

.navbar-right-side .item {
    cursor: pointer;
    align-items: center;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}
.navbar-right-side .svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.navbar-right-side .item:hover svg {
    width: 28px;
    height: 28px;
}

.navbar-right-side .item svg {
    display: flex;
    align-self: center;
    transition: 0.3s ease 0s;
}

.language-item svg, .setting-item svg {
    fill: var(--normal-text-color);
    margin-left: 8px;
}

/* Inizio contenitore lingue */
.language-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 100%;
}

.language-item svg {
    transition: 0.3s ease 0s;
    opacity: 1;
}
.language-item:hover svg {
    opacity: 0.5;
}

.language-item:hover .language-downscroll {
    opacity: 1;
    visibility: visible;
}

.language-downscroll {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out 0s;
    gap: 5px;
    align-items: center;
    left: -60px;
    top: 56px;
    border-radius: 4px;
    overflow-y: scroll;
    max-height: 363px;
    width: max-content;
    position: absolute;
    padding: 16px;
    color: var(--colore-tema);
    background-color: var(--navbar-color);
    border: 1px solid var(--navbar-border-color);
}
.language-downscroll .item:hover {
    transition: 0.3s ease 0s;
    opacity: 0.4;
}

/* Inizio contenitore setting */
.setting-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: 0.3s ease 0s;
    opacity: 1;
}
.setting-item:hover {
    opacity: 0.4;
}

/* Inizio contenitore BNB-Smart */
.bnb-smart-general {
    height: 100%;
    align-items: center;
    position: relative;
}

.bnb-smart-container {
    align-items: center;
    box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
    justify-content: center;
    height: 32px;
    padding-right: 8px;
    border-radius: 16px;
    background-color: var(--navbar-extra-label-color);
    color: var(--colore-tema);
    fill: var(--colore-tema);
    cursor: pointer;
    font-weight: 600;
    gap: 6px;
}
/* Inizio downscroll BNB-Smart */

.bnb-smart-general:hover .bnb-smart-downscroll {
    visibility: visible;
}
.bnb-smart-downscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: 56px;
    left: -1px;
    border-radius: 16px;
    width: 280px;
    fill: var(--normal-text-color);
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid var(--navbar-border-color);
}

.bnb-smart-general:hover .bnb-smart-container {
    transition: 0.3s ease 0s;
    opacity: 0.65;
}

.bnb-smart-downscroll .item:first-child {
    border-bottom: 1px solid var(--downscroll-bg-onhover);
}
.bnb-smart-downscroll .item img {
    width: 24px;
    height: 24px;
}
.bnb-smart-downscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.bnb-smart-downscroll .item:first-child {
    color: var(--normal-text-color);
    cursor: auto;
}
.bnb-smart-downscroll .item:nth-child(2) {
    color: var(--title-text-color);
}
.bnb-smart-downscroll .item span {
    padding-left: 12px;
}
.bnb-smart-downscroll .item:nth-child(2):hover,
.bnb-smart-downscroll .item:nth-child(3):hover {
    background-color: var(--downscroll-bg-onhover);
}

.bnb-smart-container img {
    width: 32px;
    height: 32px;
}

/* Inizio bottone interno alla navbar */
.navbar-right-side button {
    background-color: var(--button-bg-color);
    transition: 0.3s ease 0s;
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    padding: 0px 16px;
    height: 32px;
    opacity: 1;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    border: transparent;
}
.navbar-right-side button:hover {
    opacity: 0.65;
}
.bottone-adattato {
    display: none;
}

/* Inizio Adattamento navbar */
@media screen and (max-width: 1110px) {
    .span-adattato {
        display: none;
    }
    .bottone-adattato {
        display: block;
    }
    .bottone-normale {
        display: none;
    }
    .bnb-smart-downscroll {
        left: -71px;
    }
    .navbar-right-side .item:first-child {
        display: none;
    }
}
@media screen and (max-width: 970px) {
    .svg-normale, .svg-tema-chiaro {
        display: none;
    }
    .svg-adattato {
        display: block;
        width: 32px;
        height: 32px;
    }
    .nascondi-svg-navbar, .mostra-svg-navbar {
        display: none;
    }

}
@media screen and (max-width: 600px) {
    .span-secondo-adattamento {
        display: none;
    }
    .trade-general, .earn-general, .win-general, .nft-general, .dots-general {
        display: none;
    }

}

/* Inizio contenitore navbar adattata */
.navbar-adattata-generale {
    background-color: var(--navbar-color);
    width: 100%;
    color: var(--normal-text-color);
    fill: var(--normal-text-color);
    height: 50px;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid var(--navbar-border-color);
    display: none;
}

.trade-adattato-generale,
.earn-adattato-generale,
.win-adattato-generale,
.nft-adattato-generale,
.dots-adattato-generale {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 12px;
    width: 57px;
    height: 90%;
    cursor: pointer;
}
.trade-adattato-generale:hover,
.earn-adattato-generale:hover,
.win-adattato-generale:hover,
.nft-adattato-generale:hover,
.dots-adattato-generale:hover {
    background-color: var(--downscroll-bg-onhover);
}

.trade-adattato-generale:hover {
    background-color: var(--downscroll-bg-onhover);
}
/* Separator upscroll per la navbar adattata */
.upscroll-separator {
    position: absolute;
    top: -7px;
    width: 100%;
    height: 50px;
}

/* Inizio contenitore upscroll earn adattato */
.upscroll-separator:hover + div {
    visibility: visible;
}
.earn-adattato-upscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: -106px;
    left: -151px;
    border-radius: 16px;
    width: 57vh;
    padding-top: 4px;
    font-size: 16px;
}
.earn-adattato-upscroll:hover {
    visibility: visible;
}
.earn-adattato-upscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.earn-adattato-upscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore upscroll win adattato */
.win-adattato-upscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: -200px;
    left: -240px;
    border-radius: 16px;
    width: 57vh;
    padding-top: 4px;
    font-size: 16px;
}
.win-adattato-upscroll:hover {
    visibility: visible;
}
.win-adattato-upscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}

.win-adattato-upscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore NFT adattato */
.nft-adattato-upscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: -153px;
    left: -332px;
    border-radius: 16px;
    width: 57vh;
    padding-top: 4px;
    font-size: 16px;
}
.nft-adattato-upscroll:hover {
    visibility: visible;
}
.nft-adattato-upscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}

.nft-adattato-upscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}

/* Inizio contenitore dots adattato */
.dots-adattato-upscroll {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-color);
    top: -294px;
    left: -447px;
    border-radius: 16px;
    width: 57vh;
    padding-top: 4px;
    font-size: 16px;
}
.dots-adattato-upscroll:hover {
    visibility: visible;
}
.dots-adattato-upscroll .item {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0px 16px;
}
.dots-adattato-upscroll .item:nth-child(3),
.dots-adattato-upscroll .item:nth-child(4) {
    border-bottom: 1px solid var(--downscroll-bg-onhover);
}
    
.dots-adattato-upscroll .item:nth-child(5),
.dots-adattato-upscroll .item:nth-child(6) {
    align-items: center;
    justify-content: space-between;
}
.dots-adattato-upscroll .item:hover {
    background-color: var(--downscroll-bg-onhover);
}
    
@media screen and (max-width: 600px){
    .navbar-adattata-generale {
        display: flex;
    }
}
/* Inizio adattamenti upscroll della navbar */
@media screen and (max-width: 540px){
    .dots-adattato-upscroll {
        left: -424px;
        width: 54vh;
    }
    .nft-adattato-upscroll {
        left: -322px;
        width: 54vh;
    }
    .win-adattato-upscroll {
        left: -221px;
        width: 54vh;
    }
    .earn-adattato-upscroll {
        left: -133px;
        width: 54vh;
    }
}
@media screen and (max-width: 480px){
    .dots-adattato-upscroll {
        left: -325px;
        width: 43vh;
    }
    .nft-adattato-upscroll {
        left: -235px;
        width: 43vh;
    }
    .win-adattato-upscroll {
        left: -143px;
        width: 43vh;
    }
    .earn-adattato-upscroll {
        left: -116px;
        width: 43vh;
    }
}
@media screen and (max-width: 420px){
    .dots-adattato-upscroll {
        left: -196px;
        width: 28vh;
    }
    .nft-adattato-upscroll {
        left: -161px;
        width: 28vh;
    }
    .win-adattato-upscroll {
        left: -121px;
        width: 28vh;
    }
    .earn-adattato-upscroll {
        left: -80px;
        width: 28vh;
    }
}


/* Inizio contenitore opzioni della navbar */
.opzioni-normale-generale {
    position: absolute;
    top: 36%;
    left: 39%;
    align-items: center;
    transition: 0.3s ease 0s;
    background-color: var(--navbar-color);
    border-radius: 32px;
    overflow: hidden;
    width: auto;
    max-width: 100vh;
    min-width: 320px;
    min-height: 300px;
    box-shadow: rgb(14 14 44 / 10%) 0px 20px 36px -8px, rgb(0 0 0 / 5%) 0px 1px 1px;
    z-index: 20;
    color: white;
    display: none;
    opacity: 0;
}

.opzioni-generale-on {
    display: block;
    opacity: 1;
}
@media screen and(max-width: 850px) {
    .opzioni-adattato-top100 {
        top: 100%;
    }
    .opzioni-adattato-top70 {
        top: 70%;
    }    
}

/* Inizio contenitore principale opzioni */
.label-opzioni {
    background-color: var(--navbar-extra-label-color);
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    height: 73px;
    color: var(--titolo-label-opzioni);
}

.label-opzioni svg {
    color: var(--button-bg-color);
}

.label-opzioni-destra svg {
    cursor: pointer;
}

/* Inizio sezione GLOBAL del contenitore opzioni */

.opzioni-normale-generale .label-global {
    color: var(--title-text-color);
    justify-content: flex-start;
    width: 100%;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    padding: 24px 24px 20px 24px;
}

/* Inizio del contenitore per il cambio del tema */
.opzioni-normale-generale .label-cambio-tema {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px 25px 24px;
    color: var(--titolo-label-opzioni);
}

.cambio-tema-destra {
    justify-content: center;
    cursor: pointer;
    width: 56px;
    height: 32px;
    gap: 10px;
    background-color: var(--theme-change-scroll);
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}

#tema-chiaro {
    display: none;
}

.cambio-tema-destra svg {
    fill: var(--navbar-color);
}
.cambio-tema-flag {
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0px;
    background-color: var(--theme-change-scroll);
    border-radius: 50%;
    width: 32px;
    height: 31px;
}

.cambio-tema-flag svg {
    fill: var(--tema-flag-svg);
    z-index: 5;
}

.cambio-tema-flag .bordo-flag {
    position: absolute;
    background-color: var(--bordo-flag-svg);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 5;
}

.cambio-tema-flag .bordo-flag-hover {
    position: absolute;
    background-color: var(--title-text-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    visibility: hidden;
}

.cambio-tema-destra:hover .bordo-flag-hover {
    visibility: visible;
}

/* Inizio contentore per l'indicatore  */
.label-healt-indicator {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 24px;
    color: var(--titolo-label-opzioni);
}
/* Inizio parte sinistra healt indicator */
.healt-indicator-sinistra {
    position: relative;
}

.healt-indicator-sinistra svg {
    fill: var(--normal-text-color);
    margin-left: 4px;
}

/* Contenitore svg per le informazioni */
#contenitore-info-svg {
    position: relative;
}

.healt-svg-scroll {
    background-color: var(--bg-upscroll-opzioni);
    color: var(--text-color-upscroll-opzioni);
    position: absolute;
    transition: 0.3s ease 0s;
    padding: 16px;
    font-size: 16px;
    z-index: 101;
    box-shadow: var(--box-shadow-general);
    max-width: 320px;
    line-height: 130%;
    border-radius: 16px;
    visibility: hidden;
    opacity: 0;
    top: -121px;
    right: -76px;
}

#information-svg:hover {
    opacity: 0.5;
}

#information-svg:hover + div {
    visibility: visible;
    opacity: 1;
}

.healt-svg-scroll:hover {
    visibility: visible;
    opacity: 1;
}

/* Inizio parte destra healt indicator */
.healt-indicator-destra {
    background-color: var(--healt-indicator-scroll);
    align-items: center;
    width: 56px;
    height: 32px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset 0px 2px 2px -1px rgba(74,74,104,.1);
}

.healt-indicator-flag {
    background-color: var(--bordo-flag-svg);
    align-items: center;
    justify-content: center;
    right: 4px;
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
}

.healt-indicator-destra .bordo-flag-hover {
    position: absolute;
    right: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    border-radius: 50%;
    background-color: var(--title-text-color);
    visibility: hidden;
}
.healt-indicator-destra:hover .bordo-flag-hover {
    visibility: visible;
}

/* Adattamento setting generale */
@media screen and (max-width: 850px) {
    .opzioni-normale-generale {
        min-height: 320px;
        height: 100%;
        top: 70%;
        bottom: 0px;
        left: auto;
        width: 100%;
    }
    .label-opzioni {
        background-color: var(--adapted-setting-label);
    }
    .healt-svg-scroll {
        right: -220px;
    }
}

/* Contenitore generale per la prima sezione della pagina */
.pancake-home-primo {
    position: relative;
    padding-top: 126px;
    background-color: var(--color-background);
}

.home1-separator-black {
    display: none;
    position: absolute;
    bottom: -1px;
}
.home1-separator-white {
    display: none;
    position: absolute;
    bottom: -1px;
}

.home-separator-on {
    display: block;
}

/* Inizio contenitore timer generlae */
.contenitore-generale-timer {
    position: relative;
    height: 200px;
    margin: 48px 28px;
    background-color: bisque;
    border-radius: 32px;
    background: var(--timer-container-background);
}

/* Inizio parte sinistra del contenitore timer */
.contenitore-timer-sx {
    margin-left: 20px;
    margin-top: 30px;
}
.contenitore-timer-sx .item:first-child {
    text-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.contenitore-timer-sx .item:nth-child(2) {
    background: url(assets/image/Pancake-timer-background.png) 0% 0% / 100% 100% no-repeat;
    max-width: max-content;
    font-weight: bolder;
    margin-bottom: 16px;
    color: var(--recent-update-color);
    padding-right: 10px;
}
#timer-giorni {
    font-size: 34px;
}
#acronimo-timer {
    display: flex;
    align-items: center;
    height: 68%;
}

.contenitore-timer-sx .item:nth-child(2) span {
    font-size: 16px;
    margin: 0px 4px;
}
.contenitore-timer-giorni, .contenitore-timer-ore,
.contenitore-timer-minuti, .contenitore-timer-secondi {
    align-items: flex-end;
}
.contenitore-timer-giorni {
    margin-left: 10px;
}
.contenitore-timer-sx button {
    align-items: center;
    z-index: 5;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: 0.2s ease 0s;
    height: 48px;
    width: 144px;
    background-color: var(--button-bg-color);
    color: var(--bordo-flag-svg);
    fill: var(--bordo-flag-svg);
}
.contenitore-timer-sx button:hover {
    opacity: 0.7;
}
.contenitore-timer-sx button svg {
    margin-left: 5px;
}
/* Inizio parte destra del contenitore timer */
.contenitore-timer-dx img:first-child {
    display: block;
    height: 216px;
    position: absolute;
    right: 0px;
    bottom: -2px;
}
.contenitore-timer-dx img:nth-child(2) {
    display: none;
    height: 160px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
/* Adattamento contenitore timer generale + contenitore moon */
@media screen and (min-width: 1355px) {
    .contenitore-generale-timer {
        margin: 48px 300px;
    }
    .contenitore-generale-moon {
        margin: 48px 300px;
    }
}
@media screen and (max-width: 1354px) {
    .contenitore-generale-timer {
        margin: 48px 110px;
    }
    .contenitore-generale-moon {
        margin: 48px 110px;
    }
}
@media screen and (max-width: 1457px) {
    .contenitore-generale-timer {
        margin: 48px 220px;
    }
}
@media screen and (max-width: 1390px) {
    .contenitore-generale-timer {
        margin: 48px 190px;
    }
}
@media screen and (max-width: 1300px) {
    .contenitore-generale-timer {
        margin: 48px 160px;
    }
}
@media screen and (max-width: 1186px) {
    .contenitore-generale-timer {
        margin: 48px 100px;
    }
    .contenitore-generale-moon {
        margin: 48px 100px;
    }
}
@media screen and (max-width: 1122px) {
    .contenitore-generale-timer {
        margin: 48px 60px;
    }
    .contenitore-generale-moon {
        margin: 48px 60px;
    }
}
@media screen and (max-width: 1050px) {
    .contenitore-generale-timer {
        margin: 48px 40px;
    }
    .contenitore-generale-moon {
        margin: 48px 40px;
    }
}

@media screen and (max-width: 970px) {
    .contenitore-generale-timer {
        margin: 48px 28px;
    }
    .contenitore-timer-dx img:first-child {
        display: none;
    }
    .contenitore-timer-dx img:nth-child(2) {
        display: block;
    }
    
}

.contenitore-generale-moon {
    position: relative;
    margin: 48px 300px;
    height: 550px;
}
.contenitore-moon-sx {
    justify-content: center;
}
.contenitore-moon-sx .item:first-child {
    width: 562px;
    font-size: 64px;
    line-height: 1.1;
    color: var(--titolo-contenitore-moon);
    font-weight: bolder;
}
.contenitore-moon-sx .item:nth-child(2) {
    padding-top: 20px;
    font-size: 20px;
    width: 591px;
    color: var(--colore-tema);
    font-weight: bolder;
}
.contenitore-moon-sx .item:nth-child(3) {
    margin-top: 15px;
}
.contenitore-moon-sx .item:nth-child(3) button {
    align-items: center;
    z-index: 5;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: 0.2s ease 0s;
    height: 48px;
    width: 144px;
    background-color: var(--button-bg-color);
    color: white;
}
.contenitore-moon-sx .item:nth-child(3) button:nth-child(2) {
    background: transparent;
    border: 2px solid var(--button-bg-color);
    color: var(--button-bg-color);
    margin-left: 12px;
}
.contenitore-moon-sx .item:nth-child(3) button:hover {
    opacity: 0.7;
}

.contenitore-moon-dx {
    position: relative;
    width: 100%;
}
.contenitore-moon-dx-immagini {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
/* Inizio animazioni delle immagini */
#animazione-coniglio-moon{
	animation: animated-rabbit 2s ease infinite alternate;
}
#animazione-stellina-moon {
    animation: animated-star 2s ease infinite alternate;
}

.contenitore-moon-dx-immagini img {
    height: 100%;
    position: absolute;
    z-index: 5;
}

/* Adattamento contenitore moon */
@media screen and (max-width: 1457px) {
    .contenitore-generale-moon {
        margin: 48px 120px;
    }
}
@media screen and (max-width: 1300px) {
    .contenitore-generale-moon {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 48px 60px;
    }
    .contenitore-moon-sx {
        order: 2;
    }
    .contenitore-moon-dx {
        order: 1;
        height: 192px;
    }
}
@media screen and (max-width: 550px) {
    .contenitore-generale-moon {
        margin: 48px 0px;
    }
}

/* Inizio contenitore pancake-home2 */
.pancake-home-secondo {
    position: relative;
    padding-top: 50px;
    width: 100%;
    align-items: center;
    background: var(--bg-pancake-home2)
}
.pancake-home-secondo svg {
    padding-bottom: 24px;
}
.pancake-home-secondo h2 {
    font-size: 40px;
    color: var(--titolo-label-opzioni);
}
.pancake-home-secondo .titolo-home2 + .titolo-home2 {
    padding-bottom: 32px;
}
.pancake-home-secondo .sottotitolo-home2 + .sottotitolo-home2 {
    padding-bottom: 20px;
}
.pancake-home-secondo .sottotitolo-home2 + .sottotitolo-home2 + .sottotitolo-home2 {
    padding-bottom: 32px;
    font-weight: bolder;
}
.pancake-home-secondo .sottotitolo-home2 {
    color: var(--subtitle-text-color);
    line-height: 1.5;
}

.pancake-home-secondo .separatore-home2 {
    display: none; /* Da modificare in seguito */
    position: absolute;
    width: 100%;
    bottom: -1px;
    fill: var(--colore-separatore-home2);
}
/* Inizio card pancake-home2 */
.home2-card-general {
    background-color: var(--navbar-color);
    width: 280px;
    width: 280px;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid var(--navbar-border-color);
    border-bottom: 5px solid var(--navbar-border-color);
}
.home2-card-general .logo-card-home2 {
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.pancake-home-secondo .item {
    gap: 15px;
}
.pancake-home-secondo .svg-main-home2 {
    width: 70px;
    height: 70px;
}
.card-home2-users, .card-home2-trade, .card-home2-staked {
    padding-bottom: 20px;
}
/* Inizio specifiche card users */
.svg-interno-card-users {
    fill: var(--title-text-color);
}
.home2-card-general .card-home2-users {
    color: var(--title-text-color);
}

/* Inizio specifiche card trade */
.svg-interno-card-trade {
    fill: var(--button-bg-color);
}
.home2-card-general .card-home2-trade {
    color: var(--button-bg-color);
}

/* Inizio specifiche card staked */
.svg-interno-card-staked {
    fill: var(--graphic-theme-color);
}
.home2-card-general .card-home2-staked {
    color: var(--graphic-theme-color);
}
.titolo-card-home2-adattato {
    display: none;
}
@media screen and (max-width: 890px) {
    .pancake-home-secondo .item {
        flex-direction: column;
    }
    .home2-card-general {
        height: 166px;
        width: 292px;
        padding-top: 0px;
    }
    .card-home2-users, .card-home2-trade, .card-home2-staked {
        padding-bottom: 0px;
    }
    .home2-card-general .titolo-card-home2 {
        display: none;
    }
    .home2-card-general .logo-card-home2 {
        padding-bottom: 0px;
        padding-top: 20px;
        justify-content: space-between;
    }
    .titolo-card-home2-adattato {
        display: block;
    }
    .pancake-home-secondo h2 {
        font-size: 32px;
    }
    .logo-card-home2 {
        height: 60px;
    }
    .logo-card-home2 svg {
        height: 62px;
    }
    
}